beautifulsoup4==4.12.3
email-validator==2.0.0.post2
Flask==2.3.3
Flask-Login==0.6.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.1.1
itsdangerous==2.1.2
numpy==1.26.0
Pillow==10.0.1
PySocks==1.7.1
requests==2.32.3
selenium==4.21.0
soupsieve==2.5
SQLAlchemy==2.0.21
sympy==1.12.1
torch==2.3.1
torchvision==0.18.1
urllib3==2.2.1
Werkzeug==2.3.7
wikipedia==1.4.0
WTForms==3.0.1

matplotlib~=3.8.0
tensorflow~=2.16.1