{% extends "base.html" %}

{% block title %}
    <title>Push-up Technique</title>
{% endblock %}

{% block content %}
    <div class="container mx-auto p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="rounded-lg overflow-hidden shadow-lg">
                <video muted autoplay loop class="w-full h-auto">
                    <source src="../static/images/push_ups/male-bodyweight-pushup-front.mp4" type="video/mp4">
                </video>
            </div>
            <div class="rounded-lg overflow-hidden shadow-lg">
                <video muted autoplay loop class="w-full h-auto">
                    <source src="../static/images/push_ups/male-bodyweight-pushup-side.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="mt-8">
            <a href="https://musclewiki.com/"><h2 class="text-2xl font-semibold mb-4">Push-up Technique:</h2></a>
            <ul class="list-disc pl-4">
                <li class="mb-2">Place your hands firmly on the ground directly under your shoulders.</li>
                <li class="mb-2">Keep your body straight and slowly lower it down.</li>
                <li class="mb-2">Pull your shoulder blades back and down, keeping your elbows close to your body.</li>
                <li class="mb-2">Exhale as you push yourself back to the starting position.</li>
            </ul>
        </div>
        <div class="mt-8">
            <p class="text-lg font-semibold">Position the device so that you can be seen in full height. The app will track repetitions and check execution technique.</p>
        </div>
        <div class="mt-8 text-center">
            <p class="text-lg font-semibold">Recommended to perform 20 repetitions</p>
            <a href="{{url_for('push_up')}}" class="bg-blue-600 text-white px-4 py-2 rounded-lg mt-4 inline-block">Start</a>
        </div>
    </div>
{% endblock %}
